<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ASP.NET Identity App</title>
    <link href="\node_modules\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet" />
</head>
<header>
    <div class="container-fluid ">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Identity(ASP.NET) </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Ana səhifə</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Create">Qeydiyyat</a>
                    </li>
                   @* @if (!User.Identity.IsAuthenticated)
                    {*@

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="SignIn">
                                Daxil ol
                            </a>
                        </li>
                    @*}*@

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="GetUserInfo">Profile</a>
                    </li>
                </ul>

            </div>
        </nav>
    </div>
</header>
<body>
    <section>
        <div class="container-fluid ">
            @RenderBody()
        </div>
    </section>
    <script src="\node_modules\bootstrap\dist\js\bootstrap.bundle.min.js"></script>
</body>
<footer>
    <br />
    <div style="background-color:#ededed" class="container-fluid ">
        <p style="text-align:center">ASP.NET CORE MVC 5 / Identity</p>
    </div>
</footer>
</html>
